<%= simple_form_for(@course_hole) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :course_id %>
    <%= f.input :hole_id %>
    <%= f.input :terrain %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
